@import "media/font/norse-font.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* HEADER */
.header {
  align-items: center;
  position: fixed;
  top: 0;
  margin-top: 0;
  background: white;
  z-index: 100;
  width: 100%;
}

.logo {
  display: grid;
  grid-auto-flow: column;
  text-decoration: none;
  justify-self: center;
}

.logo img {
  width: 40px;
  justify-self: end;
}

.logo-text {
  font-family: "Norse Bold";
  align-self: center;
  white-space: nowrap;
  font-weight: bold;
}

.menu {
  margin-right: 20px;
  white-space: nowrap;
  justify-self: end;
}

.hamburger div {
  background: #6abfc3;
  height: 1.8px;
  width: 23px;
  display: block;
  margin-bottom: 5px;
  border-radius: 15px;
}

.header-list > li {
  display: inline-block;
  margin-right: 10px;
}

.header-list {
  justify-self: end;
  display: none;
}

.header-list a {
  text-decoration: none;
  color: inherit;
}
/* MAIN */
main {
  margin-top: 100px;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #6abfc3;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: grid;
  z-index: 100;
}

.chat img {
  align-self: center;
  justify-self: center;
  width: 30px;
}
/* HEADLINE */
.img {
  justify-self: center;
  display: grid;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  box-shadow: 0 2px 4px 4px rgba(0,0,0,0.05);
}

.img img {
  justify-self: center;
  align-self: center;
  width: 60px;
}

.title {
  justify-self: center;
  align-self: center;
  font-weight: 300;
  margin-top: 20px;
}

.subtitle {
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
}
/* MAIN CONTENT */
.main-content {
  margin-bottom: 100px;
  max-width: 500px;
  min-width: 90%;
}

.main-content > * {
  line-height: 2em;
  margin-top: 20px;
}

/* INTRO */
.intro {
  margin-top: 50px;
}

/* ASSIGNMENT */
.instructions {
  background: #f3f3f3;
  padding: 20px;/*this can be moved into main section overall*/
}

.instructions h6 {
  margin-top: 40px;
}

.instructions li {
  list-style-position: inside;
  list-style-type: decimal;
}

/* SOLUTIONS */
.solutions ul {
  list-style-type: disclosure-closed;
  list-style-position: inside;
}

/* RESOURCES */
.resources ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* ETC */
.container {
  background: #eeeeee;
  padding-bottom: 100px;
  display: grid;
  justify-items: center;
  width: 100%;
}

.navigation-btns {
  justify-self: center;
  background: white;
  margin: 50px 0 50px 0;
  padding: 30px;
  display: grid;
  justify-items: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.btn {
  display: block;
  width: 90%;
  height: 55px;
  margin-top: 10px;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.4;
}

.gold-btn {
  background: #cc9543;
}

.teal-btn {
  background: #6abfc3;
}

.improvement-link {
  text-decoration: none;
  justify-self: center;
}

.improvement-link img {
  width: 20px;
}

.question {
  margin-top: 50px;
  text-align: center;
  display: grid;
  justify-items: center;
}

.question h6 {
  margin-top: 20px;
  line-height: 2em;
  width: 80%;
}

.question button {
  width: 150px;
  margin-top: 50px;
}

.ad {
  justify-self: center;
  background: white;
  display: grid;
  justify-items: center;
  padding: 30px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  line-height: 2em;
  width: 65%;
}

.ad h4 {
  text-align: center;
  padding-bottom: 20px;
  width: 80%;
}

.ad button {
  width: 150px;
}

.thinkful {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 95%;
}

.box > * {
  margin-top: 20px;
}

.thinkful > * {
  margin-top: 20px;
  text-align: center;
  justify-self: center;
}

/* FOOTER */
footer {
  background: white;
  width: 95%;
  height: 120px;
  display: grid;
  align-content: center;
}

footer .logo {
  display: none;
  justify-self: center;
}

.social {
  align-self: center;
  justify-self: center;
  display: block;
}

footer a {
  align-self: center;
  text-decoration: none;
  color: inherit;
}

footer img{
  width: 25px;
  margin: 8px;
}

footer ul {
  display: none;
  line-height: 2em;
  font-size: 0.9em;
  justify-self: center;
  align-self: center;
}

/* MEDIA QUERIES */

@media (min-width: 481px) {
  footer ul {
    display: block;
  }
}

@media (min-width: 768px) {
  /* HEADER */
  .header {
    position: relative;
    width: 100%;
  }

  header .logo {
    justify-self: start;
  }
  
  header .logo img {
    width: 50px;
  }
  
  header .logo-text {
    font-size: 1.5em;
  }
  
  
  .hamburger div {
    display: none;
  }
    
  .header-list {
    justify-self: end;
    display: inherit;
  }
  /* MAIN CONTENT */
  .main-content {
    max-width: 700px;
  }
  .subtitle {
    width: 100%;
  }
  /* ETC */

  .navigation-btns {
    width: 650px;
  }

  .question h6 {
    width: 100%;
  }

  .thinkful h6 {
    display: inline-block;
    margin-right: 20px;
  }
  /* FOOTER */
  footer {
    height: 250px;
  }

  footer .logo {
    display: grid;
  }
}

@media (min-width: 993px) {
  /* HEADER */
  header .logo {
    justify-self: center;
  }

  header .logo img {
    width: 50px;
  }

  header .logo-text {
    font-size: 2em;
  }

  .menu {
    justify-self: start;
  } 

  /* ETC */
  .navigation-btns {
    width: 90%;
  }

  .btn {
    width: 200px;
    height: 75px;
    grid-row: 1 / 2;
  }

  .teal-btn {
    width: 275px;
  }

  .question button {
    grid-row: 3 / 4;
    height: 60px;
    width: 200px;
  }

  .ad {
    width: 90%;
  }
  
  .ad h4 {
    width: 75%;
    text-align: left;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
  }
  
  .ad button {
    justify-self: end;
    grid-column: 1 / 2;
    height: 65px;
    width: 220px;
  }

  .box {
    justify-self: end;
    float: right;
  }

  .thinkful h5 {
    display: inline-block;
    font-size: 1.75em;
  }
  
  .thinkful {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 95%;
  }
  
  .box > * {
    margin-top: 0;
  }
  
  /* FOOTER */
  .social {
    margin-right: 20px;
  }

  footer ul {
    margin: 0 20px 0 20px;
  }
}

@media (min-width: 1200px) {

  .navigation-btns {
    width: 1100px;
  }

  .btn {
    height: 50px;
    width: 300px;
  }

  .teal-btn {
    width: 400px;
  }


}