@import "media/font/norse-font.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* HEADER */
.header {
  align-items: center;
  position: fixed;
  top: 0;
  margin-top: 0;
  background: white;
  z-index: 100;
  width: 100%;
}

.logo {
  display: grid;
  grid-auto-flow: column;
  text-decoration: none;
}

.logo img {
  width: 40px;
  justify-self: end;
}

.logo-text {
  font-family: "Norse Bold";
  align-self: center;
  white-space: nowrap;
  font-weight: bold;
}

.menu {
  grid-column-start: -1;
  margin-right: 20px;
}

.hamburger div {
  background: #6abfc3;
  height: 1.8px;
  width: 23px;
  display: block;
  margin-bottom: 5px;
  border-radius: 15px;
}

.header-list > li {
  display: inline-block;
  margin-right: 10px;
}

.header-list {
  justify-self: end;
  display: none;
}

.header-list a {
  text-decoration: none;
  color: inherit;
}
/* MAIN */
main {
  margin-top: 100px;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #6abfc3;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: grid;
  z-index: 100;
}

.chat img {
  align-self: center;
  justify-self: center;
  width: 30px;
}
/* HEADLINE */
.img {
  justify-self: center;
  display: grid;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  box-shadow: 0 2px 4px 4px rgba(0,0,0,0.05);
}

.img img {
  justify-self: center;
  align-self: center;
  width: 60px;
}

.title {
  justify-self: center;
  align-self: center;
  font-weight: 300;
  margin-top: 20px;
}

.subtitle {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/* MAIN CONTENT */
.main-content {
  margin-bottom: 100px;
}

.main-content > * {
  line-height: 2em;
  margin-top: 20px;
}

/* INTRO */
.intro {
  margin-top: 50px;
}

/* ASSIGNMENT */
.instructions {
  background: #f3f3f3;
  padding: 20px;/*this can be moved into main section overall*/
}

.instructions h6 {
  margin-top: 40px;
}

.instructions li {
  list-style-position: inside;
  list-style-type: decimal;
}

/* SOLUTIONS */
.solutions ul {
  list-style-type: disclosure-closed;
  list-style-position: inside;
}

/* RESOURCES */
.resources ul {
  list-style-type: disc;
  list-style-position: inside;
}

/*      */
.container {
  background: #eeeeee;
  padding-bottom: 100px;
}

.navigation-btns {
  background: white;
  margin: 50px 0 50px 0;
  padding: 30px 0 30px 0;
  display: grid;
  justify-items: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.btn {
  display: block;
  width: 90%;
  height: 55px;
  margin-top: 10px;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.4;
}

.gold-btn {
  background: #cc9543;
}

.teal-btn {
  background: #6abfc3;
}

.improvement-link {
  text-decoration: none;
  text-align: center;
}

.improvement-link img {
  width: 30px;
}

.question {
  margin-top: 50px;
  text-align: center;
  display: grid;
  justify-items: center;
}

.question h5 {
  margin-top: 20px;
}

.question button {
  width: 150px;
  margin-top: 50px;
}

.ad {
  background: white;
  display: grid;
  justify-items: center;
  padding: 30px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  line-height: 2em;
}

.ad h4 {
  text-align: center;
  padding-bottom: 20px;
  width: 300px;
}

.ad button {
  width: 150px;
}

.thinkful {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 100%;
}

.thinkful > * {
  margin-top: 20px;
  text-align: center;
}

/* FOOTER */
footer {
  background: white;
  width: 100%;
  height: 120px;
  display: grid;
  align-content: center;
}

footer .imgs {
  align-self: center;
}

footer img{
  width: 20px;
  margin: 8px;
}

footer ul {
  opacity: 0.7;
  line-height: 2em;
  font-size: 0.9em;
}